Repository vstezhko/graphiql-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "prettier --write",
    "eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0"
  ],
  "*.{css,json,md,html}": "prettier --write"
}

GE-52 feat: clear store after logout
  src/__tests__/editorComponent.test.tsx
  src/__tests__/editorsSlice.test.ts
  src/components/layout/Header.tsx
  src/store/slices/editorsSlice.ts
Due: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

GE-52 fix: align styles with the main theme
  src/styles/components/forms/AuthForm.scss
  src/styles/components/mainPageComponents/TeamMember.scss
  src/styles/components/mainPageComponents/ThankSection.scss
Due: none

GE-52 fix: redirect to welcome after logout
  src/components/layout/Header.tsx
Due: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

GE-52 feat: add loader on welcome page
  src/pages/welcomPage/WelcomePage.tsx
  src/styles/pages/welcome-page/WelcomePage.scss
Due: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

GE-52 fix: disable run button when fetching
  src/components/editorComponent/editorToolbar/EditorToolbar.tsx
Due: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

GE-39 fix: fix scroll to sign in and sigh up pages, fix schema section
  src/components/layout/Header.tsx
  src/styles/base.scss
  src/styles/components/documentationComponent/DocumentationSection.scss
  src/styles/components/forms/AuthForm.scss
  src/styles/components/layout/Header.scss
Due: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

GE-39 fix: remove dom manipulation code
  src/components/layout/Header.tsx
  src/styles/base.scss
Due: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

GE-39 fix: fix styles for pages
  src/styles/base.scss
  src/styles/components/documentationComponent/DocumentationSection.scss
  src/styles/pages/main-page/MainPage.scss
  src/styles/pages/welcome-page/WelcomePage.scss
Due: none

GE-39 feat: add mock fetch in the tests
  src/__tests__/documentComponent.test.tsx
Due: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

GE-39 fix: fix position localization component
  src/components/layout/Header.tsx
  src/components/localizationComponent/Localization.tsx
  src/providers/MuiThemeProvider.ts
Due: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

GE-42 feat: add test for welcome page in progress
  src/__tests__/welcomePage.test.tsx
Due: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

fix: fix style for button hover
  src/styles/components/documentationComponent/DocumentationSection.scss
Due: none

fix: fix error handling
  src/api/api.ts
  src/store/slices/graphQLThunk.ts
Due: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

refactor: change disabled color for sticker for schema
  src/components/documentationComponent/DocumentationSection.tsx
  src/styles/components/documentationComponent/DocumentationSection.scss
Due: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

fix: fix validation email
  src/utils/validationSchema.ts
Due: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

GE-53 feat: update Readme
  README.md
Due: prettier --write

GE-49 feat: add tests
  src/__tests__/documentComponent.test.tsx
  src/__tests__/layout.test.tsx
  src/components/layout/Footer.tsx
  src/components/layout/Header.tsx
Due: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

feat GE-42: add tests for welcome page, auth, sign in and sign up components
  src/__tests__/authForm.test.tsx
  src/__tests__/signInPage.test.tsx
  src/__tests__/signUpPage.test.tsx
  src/__tests__/welcomePage.test.tsx
  src/components/MainPageComponents/KeyFeaturesSection.tsx
  src/components/form/AuthForm.tsx
  src/languages/en.json
  src/pages/SignIn.tsx
  src/pages/SignUp.tsx
  src/pages/welcomPage/WelcomePage.tsx
Due: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

GE-49 feat: add localization tests
  src/__tests__/layout.test.tsx
  src/__tests__/localization.test.tsx
  src/components/layout/Header.tsx
  src/components/localizationComponent/Localization.tsx
Due: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

GE-49 feat: test for notFoundPage and for GQLRouterProvider
  src/__tests__/notFound.test.tsx
  src/__tests__/router.test.tsx
Due: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

GE-49 feat: add responsive to error page
  src/styles/base.scss
Due: none

feat GE-42: add test for error boundary
  src/__tests__/errorBoundary.test.tsx
  src/components/ErrorBoundary.tsx
Due: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

feat GE-42: add ru symbols support to password validation
  src/utils/validationSchema.ts
Due: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

test commit with error
  src/__tests__/signInPage.test.tsx
Due: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

test commit with error
  .husky/pre-push
Due: none

test commit with error
  .husky/pre-commit
  .husky/pre-push
Due: none

test recreate husky hooks
  .husky/pre-commit
  src/__tests__/signInPage.test.tsx
  src/hooks/fetchFirebaseStatus.ts
  src/pages/SignIn.tsx
  src/pages/SignUp.tsx
  src/styles/base.scss
Due: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

feat GE-42: add test error boundary
  src/__tests__/errorBoundary.test.tsx
Due: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

feat: add import to setup file
  src/__tests__/setup.ts
Due: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

fix: fix test
  src/__tests__/signInPage.test.tsx
  src/__tests__/signUpPage.test.tsx
Due: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

fix: fix img src
  src/components/MainPageComponents/ThankSection.tsx
  src/components/inputs/TextInput.tsx
  src/components/layout/Footer.tsx
  src/pages/ErrorPage.tsx
  src/pages/welcomPage/WelcomePage.tsx
Due: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

fix: fix img src
  src/components/MainPageComponents/ThankSection.tsx
Due: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

fix: fix img src
  src/assets/error.png
  src/assets/eye.svg
  src/assets/github-mark.svg
  src/assets/invisible.svg
  src/assets/ksusha.jpg
  src/assets/rs_school_js.svg
  src/assets/vika.jpg
  src/assets/zhenya.jpg
  src/components/MainPageComponents/ThankSection.tsx
  src/components/inputs/TextInput.tsx
  src/components/layout/Footer.tsx
  src/pages/ErrorPage.tsx
  src/pages/welcomPage/WelcomePage.tsx
Due: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

fix: fix img src
  public/img/error.png
  public/img/eye.svg
  public/img/github-mark.svg
  public/img/invisible.svg
  public/img/ksusha.jpg
  public/img/react.svg
  public/img/rs_school_js.svg
  public/img/vika.jpg
  public/img/zhenya.jpg
  src/pages/ErrorPage.tsx
Due: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

fix: fix img src
  src/components/MainPageComponents/ThankSection.tsx
  src/components/inputs/TextInput.tsx
  src/components/layout/Footer.tsx
  src/pages/welcomPage/WelcomePage.tsx
Due: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

fix: fix error page route
  src/components/GQLRouterProvider.tsx
Due: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

fix: fix error page route
  src/pages/ErrorPage.tsx
Due: prettier --write, eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0

fix: add vercel setting
  vercel.json
Due: prettier --write
